body{ font-family: "Microsoft YaHei UI"; width: 100%; height: 100%; font-family: 微软雅黑}

a{text-decoration: none}
a:hover{ text-decoration: none}
a:active{ text-decoration: none}

.bigContainer{width:100%; overflow: hidden;}
.pointer{cursor: pointer}

/*顶部栏与导航栏*/
.header{width: 100%; overflow: hidden}
.topBar{ min-height: 115px; background-color: #fff;}
.borderLeft{width: 1px; height: 18px; border-right: 1px solid #638b73; display: inline; margin-left:5px; margin-right: 15px;}
.topBar a{color: #638b73}
.menu{ background-color: #1e5836; color: #fff; height: 100px; padding: 25px 0;
}
.menuBlock ul{ width:100%;margin: 0; padding: 0 !important;}
.menuBlock a{ color: #fff}
.menuBlock a:hover{color:#61b63b  }
.menuBlock li{ list-style: none; display: inline-block; line-height: 25px; width:19.5%;}
.menuBlock li:hover, .menuBlock li a.active{ color:#61b63b }

.searchText{ padding: 15px 10px;  border-radius: 25px;  -webkit-border-radius: 25px;  -moz-border-radius: 25px; background-color: #e9efec; width: 240px !important;  height: 38px;}

/*底部*/
#footer{ background-color: #5d5d5d; color:#a4a4a4; width: 100%; min-height: 165px; padding: 30px 0; margin-top: 35px;}
.footer-left, .footer-left div{ float: left}

.footer-right{ float: right; padding: 10px 0; text-align: right;}
.footer_ul li{ list-style: none; border-right: 1px solid #a4a4a4; display: inline-block; padding: 0 15px; font-size: 16px;}
.footer_ul li:last-child{ border: none}
#footer a{ color: #a4a4a4}
#footer a:hover{ color: #fff}

#backToTop{ width: 80px; height: 80px; border-radius: 50%; background-color: #1e5836; color: #fff; padding: 20px 25px; position: fixed; right:25px; z-index: 999; bottom:125px; display: none; text-align: center}
#backToTop:hover{ background-color: #61b63b;}
#triangle-up {  width: 0;  height: 0;  border-left: 15px solid transparent;  border-right: 15px solid transparent;  border-bottom: 20px solid #fff;  margin-bottom:5px }

/*主题VI颜色*/
.mainColor{background-color: #1e5836; color: #fff;}
.mainColor:hover{background-color:#61b63b;color: #fff;}
.secondColor{background-color:#61b63b;color: #fff;}

/*字体*/
.htext5{ font-size: 16px;position: relative; top: 5px;}
.htext4{ font-size: 22px;}
.small-sm{ font-size: 6px; position: relative; top: -5px;font-size: 6px; -webkit-transform: scale(0.5);        /* 12*0.5=9 */  }

/*位置*/
.marginLeft{ margin-left: 8px;}
.marginRight{ margin-right: 8px;}

/*轮播图*/
.lubo{ width: 100%; clear: both; position: relative; height: 960px}
.smallLubo{width: 100%; clear: both; position: relative; height: 600px}
.lubo_box{ position: relative; width: 100%; height:100%; }
.lubo_box li{ float: left;position: absolute; top: 0; left: 0; width: 100%; opacity: 0;filter:alpha(opacity=0); list-style: none;height:100%;}
.lubo_box li a{ display: block;width: 100%;  height:100%;}
.lubo_box li img{ width: 100%;height: 100%}

/*轮播图按钮*/
.lubo_btn{ position: absolute; width: 100%; top: 45%;}
.left_btn, .right_btn{ width: 40px; height: 80px; opacity: 0.8;filter:alpha(opacity=80); cursor: pointer; color: #fff; line-height: 80px; font-size: 30px; text-align: center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.left_btn{ position: absolute; left: 30px; background: url('../img/arrow-left.png');}
.left_btn:hover{ background: url('../img/arrow-left.png') 0 -9px;}
.right_btn{ position: absolute; right: 30px; background: url('../img/arrow-right.png');}
.right_btn:hover{ background: url('../img/arrow-right.png') 0 -9px;}

.cir_box{ overflow: hidden; position: absolute; z-index: 200;}
.cir_box li{ float: left; width: 15px; height: 15px; margin:0 12px; cursor: pointer; background: #fff; opacity: 0.8;filter:alpha(opacity=80); border-radius: 50%; list-style: none}
.smallLubo .cir_box li{ float: left; width: 8px; height: 8px; margin:0 8px; cursor: pointer; background: #999; opacity: 0.8;filter:alpha(opacity=80); border-radius: 50%; list-style: none}
.cir_on{ background: #333 !important;}

/*渐变*/
.index-coverSlide{height: 180px; position: relative; top:-175px;z-index: 100;}

/*首页网格*/
.home-grid-div{ position: relative; height: auto; overflow: hidden; top:-230px; z-index: 300}
.home-keyProduct{ padding: 2px;}
.home-keyProduct:hover{ padding: 0; border: 2px solid #159b64 }
.home-grid{padding: 2px;  position: relative; overflow: hidden}
.home-grid a{display: block;width: 100%;  height:100%;}
.home-grid-cover{ display: none;!important; width: 100%; height: 100%; position:absolute; top:0; left:0; z-index: 100; padding: 2px;}

/*首页快捷入口*/
.fastTouch a{ color: #b5b5b5; height: 115px; width: 100%;}
.fastTouch .active,.fastTouch a:hover{ color: #159b64}
.fastTouch table{ width: 100%;}
.fastTouch table tr td:first-child{ text-align: right;  width: 50%;}
.fastTouch table tr td:last-child{ text-align: left;}


.showContainer{width: 100%; overflow: hidden; text-align: center}
.showContainer img{ position: relative; left: 480px; margin-left: -960px;}



@media (min-width: 1200px) {
    .container {
        width:1200px
    }
}
.container {
    padding: 0;
}

/* 面包屑 */
.natureBreadcrumbBox {
    height: 45px;
    width: 100%;
    background-color: #f8fcf6
}
.natureBreadcrumb {
    line-height: 45px;
    list-style: none;
    border-radius: 4px
}

.natureBreadcrumb>li {
    display: inline-block
}

.natureBreadcrumb>li+li:before {
    padding: 0 5px;
    color: #6e6e6e;
    content: "\003E"
}

.natureBreadcrumb>.active {
    color: #777
}


/* 积分转移 */
.integraTransferBox {
    margin-top: 45px;
}
.integraTransferBox .integraContainer {
    margin-top: 160px;
    position: relative;
    background: #f8faf9;
    min-height: 560px;
}
.integraTransferBox .integraFlower {
    position: absolute;
    top: -162px;
    left: -50px;
    width: 341px;
    height: 376px;
    background: url('../img/integralTransfer/flower.png');
    z-index: 2;
}
.integraTransferBox .integraTitle {
    position: absolute;
    top: -115px;
    right: -95px;
    width: 430px;
    height: 99px;
    background: url('../img/integralTransfer/title.png');
    z-index: 2;
}
.integraTransferBox .integraText {
    position: absolute;
    top: 120px;
    left: 155px;
    width: 840px;
    z-index: 3;
}

@media (min-width: 768px) {
    .integraTransferBox .integraText {
        left: 130px;
        width: 500px;
    }
}

@media (min-width: 992px) {
    .integraTransferBox .integraText {
        left: 155px;
        width: 685px;
    }
}

@media (min-width: 1200px) {
    .integraTransferBox .integraText {
        left: 155px;
        width: 840px;
    }
}

.integraTransferBox .integraText .integraTextTag,
.integraTransferBox .integraText .integraTextTitle {
    display: block;
}
.integraTransferBox .integraText .integraTextTitle {
    font-size: 30px;
    color: #00834d;
    margin-bottom: 20px;
}
.integraTransferBox .integraText .integraTextTag {
    font-size: 24px;
    color: #7b7b7b;
    margin-bottom: 10px;
}
.integraTransferBox .integraText .integraTextPadTop {
    padding-top: 20px;
}
.integraTransferBox .integraText .integraTextCon {
    font-size: 14px;
    color: #7b7b7b;
    line-height: 28px;
    text-indent: 2em;
}

.integraButtonBox {
    margin: 20px 0;
}
.integraButtonBox .integraButton {
    width: 586px;
    height: 175px;
    margin: 10px 0;
    text-align: center;
    display: block;
}
.integraButtonBox .integraButtonLeft {
    background: url("../img/integralTransfer/btn-login.jpg");
    float: left;
}
.integraButtonBox .integraButtonLeft:hover {
    background: url("../img/integralTransfer/btn-login-active.jpg");
}
.integraButtonBox .integraButtonRight {
    background: url("../img/integralTransfer/btn-rule.jpg");
    float: right;
}
.integraButtonBox .integraButtonRight:hover {
    background: url("../img/integralTransfer/btn-rule-active.jpg");
}

@media (min-width: 768px) {
    .integraButtonBox .integraButtonLeft {
        float: none;
    }
    .integraButtonBox .integraButtonRight {
        float: none;
    }
}

@media (min-width: 992px) {
    .integraButtonBox .integraButtonLeft {
        float: none;
    }
    .integraButtonBox .integraButtonRight {
        float: none;
    }
}

@media (min-width: 1200px) {
    .integraButtonBox .integraButtonLeft {
        float: left;
    }
    .integraButtonBox .integraButtonRight {
        float: right;
    }
}

/* 联系我们 */
.contactUsBox {
    margin-top: 35px;
}
.contactUsBox .contactUsBanner {
    background: url("../img/contactus/contactus-banner.jpg") no-repeat;
    width: 1200px;
    height: 450px;
}
.contactUsContainer {
    margin: 0;
    margin-top: 66px;
    padding: 0;
}
.contactUsContainer li {
    float: left;
    list-style: none;
    margin-bottom: 115px;
}
.contactUsContainer li.cucFrist {
    width: 445px;
}
.contactUsContainer li.cucSecond {
    width: 365px;
}
.contactUsContainer li.cucThree {
    width: 390px;
}
.cucLi:after {
    content: '';
    clear: both;
}
.cucLi span {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: block;
    float: left;
    background-image: url("../img/contactus/contact-icon.png");
    background-repeat: no-repeat;
}
.cucLi .cAdd {
    background-position: 0 0;
}
.cucLi .cTel {
    background-position: 0 -80px;
}
.cucLi .cWeb {
    background-position: 0 -160px;
}
.cucLi .cWeibo {
    background-position: 0 -240px;
}
.cucLi .cWx {
    background-position: 0 -320px;
}
.cucLi .cTmall {
    background-position: 0 -399px;
}
.cucLi .cucCon {
    float: left;
    margin-top: 13px;
    margin-left: 12px;
}
.cucLi .cucCon h6 {
    margin: 0;
    margin-top: 12px;
    font-size: 14px;
    color: #6a6a6a;
}
.cucLi .cucCon .cucConTit h3,
.cucLi .cucCon .cucConTit i {
    float: left;
}
.cucLi .cucCon .cucConTit h3 {
    margin: 0;
    font-size: 24px;
    color: #6ac741;
}
.cucLi .cucCon .cucConTit i {
    width: 130px;
    height: 12px;
    margin-left: 8px;
    margin-top: 13px;
    overflow: hidden;
    display: block;
    float: left;
    background-image: url("../img/contactus/contact-txt.png");
    background-repeat: no-repeat;
}
/*.cucLi .cucCon .cucConTit i {
    list-style: none;
}*/
.cucLi .cucCon .cucConTit .cAddTxt {
    background-position: 0 0;
}
.cucLi .cucCon .cucConTit .cTelTxt {
    background-position: 0 -44px;
}
.cucLi .cucCon .cucConTit .cWebTxt {
    background-position: 0 -86px;
}
.cucLi .cucCon .cucConTit .cWeiboTxt {
    background-position: 0 -128px;
}
.cucLi .cucCon .cucConTit .cWxTxt {
    background-position: 0 -170px;
}
.cucLi .cucCon .cucConTit .cTmallTxt {
    background-position: 0 -212px;
}


/* 自然部落--首页 */
.tribeTitle {
	width: 1200px;
	height: 167px;
	background: url("../img/tribe/tribe-title.jpg") no-repeat;
}

.tribeBox .tribeTalking,
.tribeBox .tribeFeeling,
.tribeBox .tribeEvent{
	width: 1200px;
	position: relative;
}
.tribeBox .tribeTalking {
	height: 441px;
	margin-top: 95px;
	background: url("../img/tribe/tribe-talking.jpg") no-repeat;
}
.tribeBox .tribeFeeling {
	height: 452px;
	margin-top: 90px;
	background: url("../img/tribe/tribe-feeling.jpg") no-repeat;
}
.tribeBox .tribeEvent {
	height: 438px;
	margin-top: 125px;
	margin-bottom: 55px;
	background: url("../img/tribe/tribe-event.jpg") no-repeat;
}


#tribeTalking.content,
#tribeFeeling.content,
#tribeEvent.content{
	overflow: auto;
	position: absolute;
	right: 22px;
	bottom: 28px;
	width: 680px;
	max-width: 97%;
	height: 273px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

#tribeFeeling.content{
	left: 30px;
}
#tribeTalking ul,
#tribeFeeling ul,
#tribeEvent ul {
	padding: 0;
}
#tribeTalking li,
#tribeFeeling li,
#tribeEvent li{
	list-style: none;
	border-bottom: 1px dotted #d0d0d0;
	margin-bottom: 35px;
}
#tribeTalking li .tribeLiTxt,
#tribeFeeling li .tribeLiTxt,
#tribeEvent li .tribeLiTxt{
	width: 455px;
	float: left;
}
#tribeTalking li .tribeLiTxt h3,
#tribeFeeling li .tribeLiTxt h3,
#tribeEvent li .tribeLiTxt h3{
	margin: 0;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #00834d;
}
#tribeTalking li .tribeLiTxt p,
#tribeFeeling li .tribeLiTxt p,
#tribeEvent li .tribeLiTxt p{
	width: 365px;
	font-size: 12px;
	padding-bottom: 9px;
	color: #666464;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}
#tribeTalking li .tribeLiBtn,
#tribeFeeling li .tribeLiBtn,
#tribeEvent li .tribeLiBtn{
	width: 102px;
	margin-top: 15px;
	margin-right: 12px;
	float: right;
}
#tribeTalking li .tribeLiBtn a,
#tribeFeeling li .tribeLiBtn a,
#tribeEvent li .tribeLiBtn a{
	display: block;
	font-size: 12px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	color: #00834d;
	border: 1px solid #61b63b;
	border-radius: 10px;

}
#tribeTalking li:before,
#tribeFeeling li:before,
#tribeEvent li:before{
	padding: 0 5px;
	color: #00834d;
	content: "●";
	float: left;
}

/* 自然部落--正文 */
.tribeArticleTitle {
	width: 1200px;
	height: 120px;
	background: url("../img/tribe/tribe-article-title.jpg") no-repeat;
}

.tribeArticleTalking,
.tribeArticleFeeling,
.tribeArticleEvent {
    display: none;
    width: 1200px;
    min-height: 300px;
    overflow: hidden;
    margin-top: 20px;
    background: #f8faf9;
}

.tribeArticleNav {
	padding: 0;
	margin: 0;
	margin-top: 60px;
}
.tribeArticleNav li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 394px;
	height: 153px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}
.tribeArticleNav li:first-child {
	background: url("../img/tribe/tribe-article-talking.jpg") no-repeat;
}
.tribeArticleNav li.taActive:first-child {
	background: url("../img/tribe/tribe-article-talking-active.jpg") no-repeat;
}
.tribeArticleNav li:nth-child(2) {
	margin: 0 8px;
	background: url("../img/tribe/tribe-article-feeling.jpg") no-repeat;
}
.tribeArticleNav li.taActive:nth-child(2) {
	background: url("../img/tribe/tribe-article-feeling-active.jpg") no-repeat;
}
.tribeArticleNav li:last-child {
	background: url("../img/tribe/tribe-article-event.jpg") no-repeat;
}
.tribeArticleNav li.taActive:last-child {
	background: url("../img/tribe/tribe-article-event-active.jpg") no-repeat;
}

.tribeArticleHeader {
    height: 155px;
    position: relative;
}
.tribeArticleHeader .tribeArticleHeaderFlower {
    width: 124px;
    height: 127px;
    position: absolute;
    top: 25px;
    left: 50px;
    z-index: 10;
    background: url("../img/tribe/tribe-article-flower-top.jpg") no-repeat;
}
.tribeArticleHeader .tribeArticleHeaderTitle {
    width: 910px;
    margin-left: 160px;
    padding-top: 45px;
    overflow: hidden;
    position: relative;
    z-index: 12;
}
.tribeArticleHeader .tribeArticleHeaderTitle h3 {
    margin: 0;
    padding: 0 20px;
    padding-bottom: 35px;
    font-size: 30px;
    color: #215737;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.tribeArticleHeader .tribeArticleHeaderTitle .tribeArticleHeaderLine {
    width: 910px;
    height: 1px;
    background: url("../img/tribe/tribe-article-line.jpg") no-repeat;
}

.tribeArticleContainer {
    width: 910px;
    line-height: 25px;
    margin-left: 160px;
    overflow: hidden;
}

.tribeArticleFooter {
    height: 200px;
    position: relative;
}
.tribeArticleFooter .tribeArticleFooterFlower {
    width: 164px;
    height: 169px;
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 10;
    background: url("../img/tribe/tribe-article-flower-bot.jpg") no-repeat;
}
.tribeArticleFooter .tribeArticleShareBox {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #99c0ac;
}
.tribeArticleFooter .tribeArticleShareBox .tribeArticleShare {
    float: right;
}
.tribeArticleFooter .tribeArticleFooterNews {
    width: 910px;
    margin-left: 160px;
    overflow: hidden;
    position: relative;
    z-index: 12;
}
.tribeArticleFooter .tribeArticleFooterNews .tribeArticleFooterItems {
    margin: 0;
    margin-top: 35px;
    padding: 0;
}
.tribeArticleFooter .tribeArticleFooterNews .tribeArticleFooterItems li {
    list-style: none;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.tribeArticleFooter .tribeArticleFooterNews .tribeArticleFooterItems li a {
    color: #333;
}

/* 产品中心 */
.productsNavBox {
	height: 145px;
}

.productsBanner {
	width: 100%;
	height: 444px;
	background: url("../img/products/products-banner.jpg") no-repeat center top;
}

.productsBox {
	margin-top: 90px;
}
.productsBox .productsTitleBg {
	width: 100%;
	height: 55px;
	line-height: 55px;
	padding-left: 480px;
	color: #00834d;
	font-size: 16px;
	background: url("../img/products/products-title-bg.jpg") no-repeat;
}

.productsItems {
	margin-top: 95px;
}
.productsItems ul {
	margin: 0 30px;
	padding: 0;
}
.productsItems li {
	padding: 0 50px;
	list-style: none;
	width: 380px;
	height: 450px;
	float: left;

}

.productsItemsCon {
	margin: 5px;
}
.productsItemsCon h3,
.productsItemsCon h6,
.productsItemsCon p {
	width: 260px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.productsItemsCon h3,
.productsItemsCon h6 {
	line-height: 25px;
	color: #20937d;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}
.productsItemsCon h3 {
	font-size: 18px;
}
.productsItemsCon h6 {
	margin-bottom: 6px;
	font-size: 14px;
	border-bottom: 1px solid #e3e3e3;
}
.productsItemsCon p {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	font-size: 14px;
	color: #4a1d00;
}

.productsItemsBtn {
	width: 260px;
	margin-top: 5px;
	text-align: center;
}
.productsItemsBtn a {
	display: inline-block;
	font-size: 12px;
	width: 116px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	background: #20937d;
	border: 1px solid #20937d;
	border-radius: 10px;
}































